.container {
  padding: 0.6em;
}

.container.list {
  width: 100%;
}

.container.grid {
  width: 50%;
}

.video {
  display: flex;
  align-items: center;
  border: 1px solid lightblue;
  cursor: pointer;
  transition: transform 250ms ease-in;
  box-shadow: 10px 10px 5px 0px rgba(224, 217, 224, 1);
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 30%;
  height: 100%;
}

.title,
.channelTitle {
  margin: 0;
  padding: 0.2rem;
  font-size: 0.8rem;
}
.channelTitle {
  font-size: 0.6rem;
}
